<!DOCTYPE html>
<html>
   <head>
      <title>Fit Jang</title>
   </head>

   <body>
      <center><h1> ท่าออกกำลังกายส่วนอก </h1>
      <img src="https://www.mmchic-th.com/resource/article/chest-workout/1.jpg"><br>
      <li><a href="https://www.youtube.com/watch?v=ukDEXCXJxdM&feature=youtu.be"> วิธีเล่นท่า Barbell Bench Press </a></li><br><br>
      <img src="https://www.mmchic-th.com/resource/article/chest-workout/2.jpg"><br>
      <li><a href="https://www.youtube.com/watch?v=IcWPQo1i0k4&feature=youtu.be"> วิธีเล่นท่า Push Up </a></li><br><br>
      <img src="https://www.mmchic-th.com/resource/article/chest-workout/3.jpg"><br>
      <li><a href="https://www.youtube.com/watch?v=IMALXhhHRKM&feature=youtu.be"> วิธีเล่นท่า Decline Dumbbell Fly </a></li><br><br>
      <img src="https://www.mmchic-th.com/resource/article/chest-workout/4.jpg"><br>
      <li><a href="https://www.youtube.com/watch?v=wjUmnZH528Y&feature=youtu.be"> วิธีเล่นท่า Dips For Chest </a></li><br><br>
      <img src="https://www.mmchic-th.com/resource/article/chest-workout/5.jpg"><br>
      <li><a href="https://www.youtube.com/watch?v=ZhPOEQJRzBU&feature=youtu.be"> วิธีเล่นท่า Dumbbell Pullover </a></li><br><br>
      <img src="https://www.mmchic-th.com/resource/article/chest-workout/6.jpg"><br>
      <li><a href="https://www.youtube.com/watch?v=Iwe6AmxVf7o"> วิธีเล่นท่า Cable Fly </a></li><br><br>
      <img src="https://www.mmchic-th.com/resource/article/chest-workout/7.jpg"><br>
      <li><a href="https://www.youtube.com/watch?v=07Bcqtib4FM&feature=youtu.be"> วิธีเล่นท่า Incline Dumbbell Press </a></li><br><br>
      <img src="https://www.mmchic-th.com/resource/article/chest-workout/8.jpg"><br>
      <li><a href="https://www.youtube.com/watch?v=rX-rWx0Ujzo&feature=youtu.be"> วิธีเล่นท่า Resistance Band Pushup </a></li><br><br>
      <button type="button" value="Back" onclick="history.back()">Back</button></center><br>
      <b> Website photo credit :: </b><br>
      <a href="https://www.mmchic-th.com/active/th/fashiontalk/chest-workout/"> MMCHIC </a><br>
      <a href="http://bobbydattero.com/archives/1892"> Bobby dattero </a><br>
      <a href="https://musclestory.net/incline-dumbbell-bench-press/"> Musclestory </a><br>
      <a href="http://www.menshealth.co.uk/exercise/bent-arm-dumbbell-pull-over"> Mens Health </a></center><br>
   </body>
</html>
