<!DOCTYPE html>
<html>
   <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">     
        <title>Fit Jang</title>
   </head>

   <body>
        <center><h1> วิธีการออกกำลังกาย </h1></center>
        <div class="card text-white bg-success mb-3" style="max-width: 100rem;">
        <div class="card-header"><h3>ตัวอย่างโปรแกรมออกกำลังกาย</h3></div>
            <div class="card-body">
                <h5 class="card-title">1.สำหรับคนที่ออกกำลังกายทุวัน</h5>
                <li class="card-text">จันทร์ : ขา</li>
                <li class="card-text">อังคาร : อก + ท้อง</li>
                <li class="card-text">พุธ : หลัง</li>
                <li class="card-text">พฤหัส : ไหล่ + ท้อง</li>
                <li class="card-text">ศุกร์ : แขนทั้งหมด</li>
                <li class="card-text">เสาร์ อาทิต : cardio</li>
            </div>
            <div class="card-body">
                <h5 class="card-title">2.สำหรับคนที่ไม่มีเวลา (3 วันต่ออาทิต)</h5>
                <li class="card-text">จันทร์ : อก + หลัง</li>
                <li class="card-text">พุธ : ไหล่ + ขา</li>
                <li class="card-text">ศุกร์ : แขน + ท้อง</li>
                <li class="card-text">เสาร์ อาทิต : cardio</li>
            </div>
        </div>

        <div class="card text-white bg-success mb-3" style="max-width: 100rem;">
        <div class="card-header"><h3>แนะนำเรื่องออกกำลังกาย</h3></div>
            <div class="card-body">
                <li class="card-text">Cardio หลังเวท 20-30 นาที เพิ่มกระตุ้นระบบเผาผลาญของร่างกายได้ดี</li>
                <li class="card-text">พยายามเล่นเวทให้จบภายใน 1 ชม. พักน้อย เล่นหนัก ไม่เล่น iphone</li>
                <li class="card-text">พักระหว่างเซตแค่ 30-60 วินาทีก็พอ</li>
                <li class="card-text">คนพึ่งเริ่มเล่น เล่นท่าละ 3 เซตพอ เซตละ 8-12 ที ใช้น้ำหนักเท่าที่ตัวเองไหวไม่หนักเกินไป</li>
                <li class="card-text">คนที่เชี่ยวๆแล้ว เล่นท่าละ 4 เซต เซตละ 8-12 ที</li>
            </div>
        </div>

        <div align="center">
            <a class="btn btn-primary" href="/exercise/chest">ท่าออกกำลังกายส่วนอก</a>
            <a class="btn btn-primary" href="/exercise/back">ท่าออกกำลังกายส่วนหลัง</a>
            <a class="btn btn-primary" class="btn btn-primary" href="/exercise/arms">ท่าออกกำลังกายส่วนแขน</a></li>
            <a class="btn btn-primary" href="/exercise/shoulder">ท่าออกกำลังกายส่วนไหล่</a>
            <a class="btn btn-primary" href="/exercise/legs">ท่าออกกำลังกายส่วนขา</a>
            <a class="btn btn-primary" href="/exercise/belly">ท่าออกกำลังกายส่วนท้อง</a>
        </div>
        <br>
        <b> Website credit :: </b>
        <a href="http://www.monkeywhey.com/article/23/%E0%B8%A3%E0%B8%A7%E0%B8%A1%E0%B8%97%E0%B9%88%E0%B8%B2%E0%B8%AD%E0%B8%AD%E0%B8%81%E0%B8%81%E0%B8%B3%E0%B8%A5%E0%B8%B1%E0%B8%87%E0%B8%81%E0%B8%B2%E0%B8%A2%E0%B8%97%E0%B8%B8%E0%B8%81%E0%B8%AA%E0%B9%88%E0%B8%A7%E0%B8%99" target="_blank"> http://www.monkeywhey.com </a><br><br>      
        <button class="btn btn-primary" type="button" value="Back" onclick="history.back()" id="back_home">Back</button>
   </body>
</html>
