<!DOCTYPE html>
<html>
   <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <title>Fit Jang</title>
   </head>
   <body>
        <center><h1> แนะนำอาการสำหรับคนออกกำลังกาย </h1>
        <img src="http://www.lovefitt.com/system/wp-content/uploads/2013/04/exersice-Nutrition.jpg"><br></center>
        <div class="card text-white bg-success mb-3" style="max-width: 100rem;">
        <div class="card-header"><h3>สารอาหารที่จำเป็นต้องได้รับให้เพียงพอกับการออกกำลังกาย</h3></div>
            <div class="card-body">
                <h5 class="card-title">คาร์โบไฮเดรต</h5>
                <p class="card-text">เป็นแหล่งพลังงานของร่างกาย ได้รับจาก ข้าว แป้ง น้ำตาล ผัก ผลไม้ จำเป็นต้องได้รับให้เพียงพอกับการออกกำลังกาย โดยควรทานในปริมาณน้อยๆแต่บ่อยๆ เพื่อให้ร่างกายดึงพลังงานไปใช้ได้เพียงพอ ไม่เหลือเก็บสะสมไว้ ควรทานคาร์โบไฮเดรตที่เป็นธรรมชาติ ไม่ผ่านการขัดสี</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">โปรตีน</h5>
                <p class="card-text">เป็นสารอาหารที่ช่วยในการเสริมสร้างกล้ามเนื้อ ควรได้รับมากสุดไม่เกิน วันละ 2 กรัมต่อน้ำหนักตัว 1 กิโลกรัม แหล่งของโปรตีนที่ดีได้จากเนื้อสัตว์ทุกชนิด โดยเฉพาะเนื้อปลาแนะนำให้ทานมากที่สุด ไข่ และ นม</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">ไขมัน</h5>
                <p class="card-text">เมื่อมีการออกกำลังกาย กล้ามเนื้อจะใช้พลังงานจากไขมันและคาร์โบไฮเดรต ร่างกายจะพยายามใช้พลังงานจากโปรตีนน้อยที่สุด ควรได้รับประมาณร้อยละ 25-30 ของพลังงานที่ควรได้รับ/วัน ควรเลือกทานพวกไขมันดี โดยเฉพาะไขมันจากปลา ไม่ควรทานของทอดของมันมากจนเกินไปในขณะออกกำลังกาย</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">วิตามินและเกลือแร่</h5>
                <p class="card-text">สำหรบนักกีฬา ความต้องการวิตามินและเกลิอแร่ต่าง ๆ ไม่ได้เพิ่มกว่าคนปกติ ถ้ามีการรับประทานอาหารครบ 5 หมู่ และสัดส่วนพอเหมาะ ก็จะได้รับวิตามินเพียงพอกับความต้องการของร่างกาย ไม่จำเป็นต้องมีการเสริมวิตามิน แต่ในบางคนอาจเกิดปัญหาการขาดธาตุเหล็กได้ แต่มักจะเป็นชั่วคราว ดังนั้นจึงควรมีการบริโภคอาหารที่มีเหล็กสูง เช่น ตับ เนื้อสัตว์ ไข่แดง (ควรจำกัดปริมาณเพราะมีโคเลสเตอรอลสู ) และเพื่อเพิ่มประสิทธิภาพการดูดซึมเหล็ก ควรรับประทานผักสด และผลไม้ที่มีวิตามินซีสูงด้วย</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">น้ำ</h5>
                <p class="card-text">น้ำมีความสำคัญมาก ช่วยระบบย่อยอาหารและการขับถ่ายของเสียออกจากร่างกาย ความต้องการน้ำโดยปกติ 6 – 8 แก้ว ต่อวัน หรือประมาณ 30 มิลลิลิตร / น้ำหนักตัว 1 กิโลกรัม ในกรณีที่สูญเสียน้ำมาก ๆ เช่น การเสียเหงื่อในการทำงานกลางแดด หรือการเล่นกีฬา ต้องได้รับน้ำทดแทนให้เพียงพอ น้ำที่ดีที่สุดคือ น้ำเปล่า ควรจิบน้ำอยู่เสมอในระหว่างที่ออกกำลังกาย เพื่อชดเชยการสูญเสียเหงื่อ</p>
            </div>
        </div>

        <div class="card text-white bg-success mb-3" style="max-width: 100rem;">
        <div class="card-header"><h3>แนวทางการเลือกกินอาหารสำหรับออกกำลังกาย</h3></div>
            <div class="card-body">
                <h5 class="card-title">ก่อนออกกำลังกาย</h5>
                <li class="card-text">ควรกินอาหารก่อนมาออกกำลังกาย 2 ถึง 4 ชั่วโมง</li>
                <li class="card-text">เลือกกินอาหารที่มีคาร์โบไฮเดรตสูง ไขมันต่ำ โปรตีนต่ำ เพราะคาร์โบไฮเดรตสามารถย่อยและนำมาใช้เป็นพลังงานได้เร็วที่สุด ในขณะที่โปรตีนและไขมันอาจจะยังคงย่อยอยู่ที่กระเพาะอาหาร ถ้ากินโปรตีนและไขมันมามากๆ ก็อาจจะทำให้รู้สึกเหนื่อย คลื่นไส้ ในระหว่างที่ออกกำลังกายได้</li>
                <li class="card-text">ควรกินอาหารให้ได้รับพลังงานประมาณ 400 – 800 กิโลแคลอรี ซึ่งเท่ากับการกินอาหารมื้อหลัก 1 มื้อ เพื่อที่จะเป็นพลังงานเพียงพอสำหรับออกกำลังกาย ทำให้ออกกำลังกายได้เต็มที่ ไม่เหนื่อยเกินไป</li>
                <li class="card-text">ดื่มน้ำให้ได้ประมาณ 10 ออนซ์ หรือ 300 มิลลิลิตร ก่อนออกกำลังกาย 2 ชั่วโมง จะช่วยชดเชยการสูญเสียเหงื่อระหว่างออกกำลังกาย</li>
            </div>
            <div class="card-body">
                <h5 class="card-title">ตัวอย่างอาหารที่ควรกินก่อนมาออกกำลังกาย 2 ชั่วโมง</h5>
                <li class="card-text">น้ำผักหรือผลไม้ 1 แก้ว (200 มิลลิลิตร) กับ ผลไม้แห้ง ½ ถ้วยตวง</li>
                <li class="card-text">ขนมปังโฮลวีตทาแยมผลไม้ 3 ช้อนชา 1 แผ่น</li>
                <li class="card-text">ซีเรียลที่ผสมธัญพืชกับลูกเกด 1 ช้อนโต๊ะ กับนมหรือน้ำผลไม้ 1 แก้ว (200 มิลลิลิตร)</li>
                <li class="card-text">สมูทตี้ต่างๆที่มีกล้วยหอมเป็นส่วนผสม</li><br>
                <p class="card-text">ถ้าหากได้กินอาหารจานหลักปริมาณมากๆก่อนมาออกกำลังกาย 4 ชั่วโมงแล้ว ยังรู้สึกอิ่มอยู่ก็ไม่จำเป็นที่จะต้องกินเพิ่มอีกก็ได้ แต่ถ้ายังรู้สึกหิวเล็กน้อยก่อนมาออกกำลังกายให้เลือกกินอาหารตามที่แนะนำนี้ได้ อาหารที่แนะนำนี้ให้พลังงานประมาณ 200-300 กิโลแคลอรี ซึ่งเพียงพอกับการออกกำลังกายประมาณ 30 นาที ถึง 1 ชั่วโมง</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">ระหว่างออกกำลังกาย</h5>
                <p class="card-text">ควรดื่มน้ำให้ได้ประมาณ 5-12 ออนซ์ (150-350 มิลลิลิตร) ทุกๆ 15-20 นาที ถ้าออกกำลังกายมากกว่า 1 ชั่วโมง ให้ดื่มเครื่องดื่มที่ผสมเกลือแร่สำหรับนักกีฬา เพื่อช่วยชดเชยการสูญเสียโซเดียม</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">หลังออกกำลังกาย</h5>
                <li class="card-text">ดื่มน้ำให้ได้ 2 แก้ว (500 มิลลิลิตร) เพื่อชดเชยการสูญเสียเหงื่อ และรักษาสมดุลของสารต่างๆในร่างกายที่มีการเปลี่ยนแปลงในช่วงที่ออกกำลังกาย</li>
                <li class="card-text">กินอาหารว่างที่ให้พลังงาน 100-400 กิโลแคลอรี ซึ่งประกอบไปด้วยคาร์โบไฮเดรตและโปรตีน ระหว่าง 1 ชั่วโมงแรก หลังจากออกกำลังกาย</li>
                <li class="card-text">ไม่ควรดื่มเครื่องดื่มที่มีส่วนผสมของคาเฟอีน เช่น กาแฟ ชา น้ำอัดลม เพราะจะทำให้ปัสสาวะออกมามาก จนสูญเสียน้ำมากเกินไปได้</li>
            </div>
            <div class="card-body">
                <h5 class="card-title">ตัวอย่างอาหารที่ควรกินหลังจากออกกำลังกาย 1 ชั่วโมง</h5>
                <li class="card-text">นมรสต่างๆ 1 แก้ว เลือกชนิดที่มีไขมันต่ำ ( 100-150 กิโลแคลอรี)</li>
                <li class="card-text">โยเกิร์ตรสต่างๆ 1 ถ้วย อาจจะทานร่วมกับผลไม้สดเป็นสลัดผลไม้ หรือปั่นผสมเป็นสมูทตี้แบบต่างๆ หรือทานร่วมกับซีเรียลก็ได้ ( 100-300 กิโลแคลอรี)</li>
                <li class="card-text">แซนวิซ หรือแฮมเบอร์เกอร์ 1 คู่ ( 200-400 กิโลแคลอรี)</li>
                <li class="card-text">อาหารมื้อหลักที่มีไขมันต่ำ เช่น ข้าว+ต้มยำ+ไข่ตุ๋น, ข้าวเหนียว+ส้มตำ+ไก่ย่าง เป็นต้น (300-400 กิโลแคลอรี)</li><br>
            </div>
        </div>
        <b> Website credit :: </b>
        <a href="http://www.lovefitt.com/tips-tricks/%E0%B9%82%E0%B8%A0%E0%B8%8A%E0%B8%99%E0%B8%B2%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%AA%E0%B8%B3%E0%B8%AB%E0%B8%A3%E0%B8%B1%E0%B8%9A%E0%B8%9C%E0%B8%B9%E0%B9%89%E0%B8%AD%E0%B8%AD%E0%B8%81%E0%B8%81%E0%B8%B3%E0%B8%A5%E0%B8%B1%E0%B8%87%E0%B8%81%E0%B8%B2%E0%B8%A2/" target="_blank"> LOVEFITT </a><br><br>
        <button class="btn btn-primary" type="button" value="Back" onclick="history.back()" id="back_home">Back</button>
   </body>
</html>