html
  head
    title Fit Jang
  body
    h1 Fit Jang
    a(href="/exercise") วิธีการออกกำลังกาย
    br
    a(href="/food") วิธีการกิน
    br
    br
    form(action = "/", method = "POST")

      div
        label(for = "activity") Activity :
        select(name = "activity")
          option(value="run") Run
          option(value="jogging") Jogging
      br
      div
        label(for = "weight") Weight :
        input(name = "weight")
      br
      div
        label(for = "time") Time :
        input(name = "time")
      br
      button(type = "submit") Submit
