html
  head
    title Fit Jang
    table(border='1')
      tr
        th Activity
        th Weight(กก.)
        th Time(นาที)
        th Calories
      
      for item in results
        tr
          td=item.Activity
          td=item.Weight
          td=item.Time
          td=item.Calories

    br
    button(type="button" value="Back" onclick="history.back()") Back
