html
  head
    title Fit Jang
    table(border='1')
      tr
        th Activity
        th Weight(กก.)
        th Time(นาที)
        th Calories
      tr
        td=activity
        td=weight
        td=time
        td=calories

    br
    button(type="button" value="Back" onclick="history.back()") Back
